html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bitter', serif;
  display: table;
  width: 100%;
  color: #000;
}

footer {
  position: absolute;
  bottom: 0;
  display: table-row;
  width: 100%;
  /* à titre d'exemple */
}

.recherche {
  text-align: center;
  width: 90%;
  justify-content: center;
  align-items: center;
}



.btn-rond {
  width: 75px;
  height: 75px;

  border-radius: 60%

}

.pied_de_page{
  color: #fff;
  text-align: center;
  background-color: #134c6c;
  margin-bottom: 0px;
  font-size: 10px;
}

.modal-title{
  color: #000;
}

.modal-body{
  align-content: center;
}

label{
  color: #404040;
}

.container-fluid{
  background-color: #134c6c;
  color: #FFF;
}

.centrer{
  text-align: center;
}
